* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: cornflowerblue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.inputs {
    background: white;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

h2 {
    font-size: 32px;
    text-align: center;
}

.data {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 4px;
}

.data input {
    padding: 4px;
    outline: none;
    border: 1px solid cornflowerblue;
    font-size: 20px;
}

.data button {
    background: cornflowerblue;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 20px;
    padding: 2px;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: flex-start;
}

.box {
    background: white;
    padding: 10px;
    border: 4px solid transparent;
    border-radius: 10px;
    width: 200px;
    box-sizing: border-box;
    transition: 0.2 ease-in-out;
}

.item {
    background: cornflowerblue;
    padding: 10px;
    margin: 4px;
    color: white;
    cursor: move;
    font-size: 20px;
}
